body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 400px;
  background-color: ivory;
  position: relative;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

hr {
  border-top: 2px dotted black;
  width: 50%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 20px 0;
  padding: 5px;
  font-size: 1.2rem;
  ;
}

a {
  text-decoration: underline 3px #ee4a58;
  text-underline-offset: 3px;
  cursor: pointer;
  color: black;
}

a:hover {
  background-color: #ee4a58;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 3px;
}

.button {
  background-color: #ee4a58;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.button>a {
  text-decoration: none;
  color: white;
}